/*Created with Adobe RoboHelp 10.*/
h1 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 18pt;
	x-next-class: ;
	x-next-type: P;
	color: #0033cc;
	margin-top: 0pt;
}
h2 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	x-next-class: ;
	x-next-type: P;
	font-family: Arial;
	font-size: 16pt;
	color: #0033cc;
	margin-top: 0pt;
}
h3 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	margin-top: 0pt;
	font-size: 14pt;
	x-next-class: ;
	x-next-type: P;
	color: #000000;
}
h4 {
	font-weight: bold;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	x-next-class: ;
	x-next-type: P;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	margin-top: 0pt;
}
h5 {
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	margin-top: 0pt;
	x-next-class: ;
	x-next-type: P;
}
h6 {
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	margin-top: 0pt;
	x-next-class: ;
	x-next-type: P;
}
p {
	font-family: Arial, sans-serif;
	margin-top: 0pt;
	font-size: 10pt;
}
p.FAQ {
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
}
a.dropspot {
	font-style: italic;
	font-weight: normal;
	font-family: Arial;
	font-size: 10pt;
	color: #2552b0;
	text-decoration: none;
}
a.expandspot {
	font-family: Arial;
	font-style: italic;
	font-size: 10pt;
	color: #2552b0;
	text-decoration: none;
}
span.expandtext {
	font-family: Arial;
	font-size: 10pt;
	color: #cc0033;
}
a.breadcrumbs {
	font-family: Arial;
	font-size: 10pt;
	color: #00a3d8;
}
a.popupspot {
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
	x-on-hover: dropshadow();
	color: #2552b0;
	text-decoration: none;
}
a.glossterm {
	font-style: italic;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #2552b0;
	text-decoration: none;
}
span.glosstext {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #cc0033;
	text-decoration: none;
}
a.HyperlinkImage {
	color: #000000;
	display: inline;
	background-color: Transparent;
	text-decoration: none;
}
a:active {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #2552b0;
	text-decoration: underline;
}
a:hover {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #2552b0;
	text-decoration: underline;
}
a:link {
	font-family: Arial;
	font-weight: bold;
	color: #2552b0;
	text-decoration: underline;
}
a:visited {
	font-family: Arial;
	color: 6fbc20;
	text-decoration: underline;
}
div.droptext {
	font-family: Arial;
	color: #cc0033;
}
table.PaddedCells {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	x-border-spacing: 2px;
	font-family: Arial;
	font-size: 10pt;
}
p.breadcrumbs {
	font-size: 10pt;
}
p.Normal-Indented {
	font-family: Arial, sans-serif;
	margin-top: 0pt;
	font-size: 10pt;
	margin-left: 30pt;
}
body {
	font-size: 12pt;
	x-next-page: page-with-header;
	font-family: Arial;
	counter-reset: p\.rl-p-normal-list;
}
ol,ul {
	font-family: Arial;
	font-size: 12pt;
}
span.NumberedList {
}
p.Normal-List {
	font-family: Arial, sans-serif;
	margin-top: 0pt;
	font-size: 10pt;
	text-indent: -;
	margin-left: 10pt;
}
table.SimpleGridBlue {
	padding: 0px;
	x-border-spacing: 0px;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #4F81BD;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #4F81BD;
}
p.Normal-Close {
	x-next-class: ;
	x-next-type: P;
	margin-bottom: 2pt;
}
p.Normal_Indent_After_Bullet {
	margin-left: 42pt;
}
a.HyperlinkImage:link {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.HyperlinkImage:visited {
	color: #000000;
	text-decoration: none;
}
a.HyperlinkImage:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
a.HyperlinkImage:active {
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
ul.Bulleted {
	list-style: disc;
}
ul.Bulleted>li {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
}
ul.Bulleted-Indented {
	list-style: disc;
}
ul.Bulleted-Indented>li {
	font-family: Arial, sans-serif;
	margin-left: 15pt;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
}
ol.Numbered-Indented {
	list-style: decimal;
}
ol.Numbered-Indented>li {
	font-family: Arial, sans-serif;
	margin-left: 15pt;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
}
ol.NumberedListwLevels {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li:before {
	counter-increment: item1;
	content: counter(item1, decimal)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item2;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li:before {
	counter-increment: item2;
	content: counter(item2, lower-alpha)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item3;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item4;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "("counter(item4, decimal)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item5;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "("counter(item5, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item6;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "("counter(item6, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item7;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item8;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item9;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NumberedListwLevels>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.rl-P-Normal-List {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.rl-P-Normal-List>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.rl-P-Normal-List>li:before {
	counter-increment: item1;
	content: counter(item1, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.Numbered {
	list-style: decimal;
}
ol.Numbered>li {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 14pt;
}
p.rl-P-Normal-List::before {
	counter-increment: p\.rl-p-normal-list;
	content: counter(p\.rl-p-normal-list, decimal)".";
	margin-right: 0.5rem;
}
:root {
	--noborder-theme-color: #ed7d31;
}
table.noborder {
	border-collapse: collapse;
}
ol.reltopics-list {
	font-family: Arial;
	font-size: 12pt;
}
table.PaddedCells tr:nth-child(odd) td {font-family: Arial;border-left-style: Solid;border-left-width: 1px;border-left-color: #000000;border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-top-style: Solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-size: 10pt;
}
table.PaddedCells tr:nth-child(even) td {font-family: Arial;border-left-style: Solid;border-left-width: 1px;border-left-color: #000000;border-right-style: Solid;border-right-width: 1px;border-right-color: #000000;border-top-style: Solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #000000;font-size: 10pt;
}
table.PaddedCells td {padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;font-family: Arial;font-size: 10pt;
}
table.SimpleGridBlue td {padding-left: 10px;padding-right: 10px;padding-top: 0px;padding-bottom: 0px;
}
table.SimpleGridBlue tr:nth-child(odd) td {font-family: "Times New Roman";font-size: 12pt;border-right-style: Solid;border-right-width: 1px;border-right-color: #4F81BD;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #4F81BD;
}
table.SimpleGridBlue tr:nth-child(even) td {border-right-style: Solid;border-right-width: 1px;border-right-color: #4F81BD;border-bottom-style: Solid;border-bottom-width: 1px;border-bottom-color: #4F81BD;
}
table.noborder td {border-width: 2px;border-style: solid;border-color: var(--noborder-theme-color);border-left: 0;border-top: 0;padding-top: 2px;padding-right: 4px;padding-bottom: 2px;padding-left: 4px;vertical-align: center;
}
table.noborder tr:first-child td {border-width: 2px;border-style: solid;border-color: #FFFFFF;border-top: 0;border-left: 0;background-color: var(--noborder-theme-color);color: #FFFFFF;border-bottom: 0;
}
table.noborder tr:last-child td {border-width: 2px;border-style: solid;border-color: var(--noborder-theme-color);border-left: 0;border-bottom: 0;
}
table.noborder tr td:last-child {border-right: 0;
}
