/*Created with Adobe RoboHelp 2017.*/
p.breadcrumbs {
	color: #00ff00;
	background-color: #00ffff;
	text-align: center;
	margin-left: 72pt;
	font-family: Roboto;
	font-weight: bold;
}
a {
	color: #ff0000;
	display: inline;
	font-family: "Yu Gothic";
	text-decoration: underline;
}
a.glossterm {
	font-family: Vrinda;
	display: inline;
	color: #008000;
}
p {
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Shruti;
	color: #ff00ff;
}
table.Style1 {
	font-family: Stencil;
	color: #0000ff;
	x-border-spacing: 0px;
}
span.prefixColorPre {
	color: #800080;
}
span.prefixColorPre1 {
	color: #0000ff;
}
rh-seq.Mine {
	x-count: 10;
	x-1: One;
	x-2: Two;
	x-3: Three;
	x-4: Four;
	x-5: Five;
	x-6: Six;
	x-7: Seven;
	x-8: Eight;
	x-9: Nine;
	x-10: Ten;
}
h1 {
	font-weight: bold;
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-size: 11pt;
	font-family: Raavi;
}
h4 {
	color: #00ffff;
	--autonumber: autonumber;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
h5 {
	--autonumber: autonumber;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor {
	--prefix-size: 70.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li {
	--prefix-size: 70.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li:before {
	counter-increment: item1;
	content: "Topic "counter(item1, decimal)".";
	color: #800080;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.PrefixColor>li>ol {
	--prefix-size: 117.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item2;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li>ol>li {
	--prefix-size: 117.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li>ol>li:before {
	counter-increment: item2;
	content: "Concept "counter(item1, decimal)"."counter(item2, decimal)".";
	color: #0000ff;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.PrefixColor>li>ol>li>ol {
	--prefix-size: 124.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 78px;
	--list-indent: 94px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item3;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li>ol>li>ol>li {
	--prefix-size: 124.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 78px;
	--list-indent: 94px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: "Task "counter(item1, decimal)"."counter(item2, decimal)"."counter(item3, decimal)".";
	color: #0000ff;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.PrefixColor>li>ol>li>ol>li>ol {
	--prefix-size: 61.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 66px;
	--list-indent: 12px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item4;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li>ol>li>ol>li>ol>li {
	--prefix-size: 61.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 66px;
	--list-indent: 12px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "step "counter(item4, upper-alpha)")";
	color: #800080;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 103.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 90px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item5;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 103.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 90px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "step result "counter(item5, upper-roman)"}";
	color: #800080;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 30px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item6;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 30px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.PrefixColor>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "["counter(item6, lower-alpha)"]";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.DescriptionSteps {
	--prefix-size: 79.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 10px;
	--list-indent: 10px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.DescriptionSteps>li {
	--prefix-size: 79.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 10px;
	--list-indent: 10px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.DescriptionSteps>li:before {
	counter-increment: item1;
	content: "Description:";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.DescriptionSteps>li>ol {
	--prefix-size: 62.9px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 25px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item2;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.DescriptionSteps>li>ol>li {
	--prefix-size: 62.9px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 25px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.DescriptionSteps>li>ol>li:before {
	counter-increment: item2;
	content: "Step "counter(item2, decimal)":";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.DescriptionSteps>li>ol>li>ol {
	--prefix-size: 65.6px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 55px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item3;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.DescriptionSteps>li>ol>li>ol>li {
	--prefix-size: 65.6px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 55px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.DescriptionSteps>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: "Note "counter(item3, lower-alpha)":";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.DescriptionSteps>li>ol>li>ol>li>ol {
	--prefix-size: 85.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: -30px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item4;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.DescriptionSteps>li>ol>li>ol>li>ol>li {
	--prefix-size: 85.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: -30px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.DescriptionSteps>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "Substep "counter(item4, decimal)":";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.DescriptionSteps>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 65.6px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item5;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.DescriptionSteps>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 65.6px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.DescriptionSteps>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "Note "counter(item5, lower-roman)":";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li:before {
	counter-increment: item1;
	content: counter(item1, decimal)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item2;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li:before {
	counter-increment: item2;
	content: counter(item2, lower-alpha)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item3;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: counter(item3, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item4;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "("counter(item4, decimal)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item5;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5;
	content: "("counter(item5, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item6;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 36.7px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: "("counter(item6, lower-roman)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item7;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item8;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item9;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.BasicNumber>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, lower-roman)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles {
	--prefix-size: 78.5px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li {
	--prefix-size: 78.5px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li:before {
	counter-increment: item1;
	content: "Article "counter(item1, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol {
	--prefix-size: 82.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item2;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li {
	--prefix-size: 82.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li:before {
	counter-increment: item2;
	content: "Section "counter(item2, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol {
	--prefix-size: 112.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item3;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li {
	--prefix-size: 112.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li:before {
	counter-increment: item3;
	content: "Section "counter(item2, decimal)"."counter(item3, lower-alpha)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol {
	--prefix-size: 98.9px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item4;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li {
	--prefix-size: 98.9px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4;
	content: "Paragraph "counter(item4, upper-roman)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 26.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: disc;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item6;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 31.4px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6;
	content: counter(item6, lower-alpha)")";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 60.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item7;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 60.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item7;
	content: counter(item6, lower-alpha)"."counter(item7, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item8;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item8;
	content: counter(item8, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item9;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 20px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.ChaptersAndArticles>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item9;
	content: counter(item9, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.rl-h4 {
	--prefix-size: 64.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.rl-h4>li {
	--prefix-size: 64.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.rl-h4>li:before {
	counter-increment: item1;
	content: counter(item1, lower-roman)".list@";
	color: #0000ff;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.rl-h5 {
	--prefix-size: 82.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	list-style: none;
	counter-reset: item1;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.rl-h5>li {
	--prefix-size: 82.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.rl-h5>li:before {
	counter-increment: item1;
	content: counter(item1, square)".check@";
	color: #0000ff;
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
h4:before {
	content: counter(h41, lower-roman)".list@";
	margin-right: var(--prefix-gap);
	text-align: left;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	width: var(--prefix-size);
	counter-increment: h41;
}
h5:before {
	content: counter(h51, square)".check@";
	margin-right: var(--prefix-gap);
	text-align: left;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	width: var(--prefix-size);
	counter-increment: h51;
}
table.Style1 td {padding-left: 5px;padding-right: 3px;padding-top: 7px;padding-bottom: 4px;
}
body {
	counter-reset: h41 0 h51 0;
}
