/*Created with Adobe RoboHelp 2017.*/
table.Style1 {
	font-family: Vrinda;
	color: #800080;
	background-color: #00ffff;
	font-style: italic;
	text-align: Center;
	x-border-spacing: 0px;
}
table.Style1 td {padding-left: 4px;padding-right: 0px;padding-top: 4px;padding-bottom: 0px;
}
